<% include ../partials/header %>

<!-- viewer row -->
<div class="row container">
  <div class="col-md-12 col-sm-12 col-xs-12 viewer">
    <embed class="page-viewer" src="<%= article.url %>"></embed>
  </div>
</div>

<!-- score and domain row -->
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12 score-domain">
    <p><span class="badge"><%= article.score %>  <i class="glyphicon glyphicon-thumbs-up"></i></span>  |  <strong><%= article.domain %></strong></p>
  </div>
</div>

<!-- bottom of page -->
<div class="row">
  <% if(user){ %>
  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-8 col-xs-12 article-save">
    <form id="trellis-form" class="form art-button" action="/profile/<%= article.id %>" method="post">
      <input class="userId" type="hidden" value="<%= user.id %>" name="userId">
      <input class="redditId" type="hidden" value="<%= article.id %>" name="id">
      <input class="subreddit" type="hidden" value="<%= article.subreddit %>" name="subreddit">
      <input class="title" type="hidden" value="<%= article.title %>" name="title">
      <input class="url" type="hidden" value="<%= article.url %>" name="url">
      <% if(!article.matched){ %>
        <a id="trellBtn" type="submit"  class="btn btn-lg btn-success"><i class="glyphicon glyphicon-leaf">  </i>Add to Trellis</a>
      <% } %>
    </form>
  </div>
  <% }else{ %>
    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-8 col-xs-12 text-center">
      <a href="/auth/login" class="btn btn-primary">Log in to save articles</a>
    </div>
  <% } %>
</div>

<% include ../partials/footer %>